@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


body{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 95vh;
	width: 90vw;
	font-family: 'Roboto Mono', monospace;
	flex-wrap: wrap;
	position: relative;
	background-color: #002;
	color: #CCC;
}
.keys{
	width: 90vw;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
kbd{
	font-size: 1.5em;
}
.key{
	width: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all .07s;
	padding: 20px;
	border: 1px solid #BBB;
	border-radius: 5px;
	margin: 5px;
	
}

.playing{
	transform: scale(2);
	border: 1px solid rgb(252, 225, 126);
}

small{
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: .8em;
}